[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
python-jose = "*"
aiofiles = "*"
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
alembic = "*"
pydantic-settings = "*"
python-dotenv = "*"
python-multipart = "*"
psycopg2-binary = "*"
asyncpg = "*"
bcrypt = "<4.0"
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.14"
